* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
}

h1 {
  color: #e4a2f3;
  text-align: center;
  margin: 10px 0;
  transition: opacity 0.5s;
}

button {
  width: calc(100% - 100px);
  height: 50px;
  margin: 0 50px;
  text-align: center;
  color: #5422a3;
  background-color: #e4a2f3;
  border-radius: 5px;
  border: 2px solid #5422a3;
}

.hidden {
  opacity: 0;
}
